<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">
            {{userName}} <span class="sr-only">(current)</span>
          </a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown" dropdown> <!-- {1} -->
              <a dropdownToggle role="button"> <!-- {2} -->
                Dropdown <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
              </ul>
          </li>
      </ul>
  </div>
</nav>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<!-- <h1>{{title}}</h1>
<sp-authport></sp-authport>

<div *ngIf="(user$ | async)">
 <h2>
   Welcome, {{ ( user$ | async ).fullName }}


  <a href="#" (click)="logout(); false">Logout</a>
</div>
<div [hidden]="!(user$ | async)">
secure stuff
</div> -->